<p>
       <ion-content  class="ion-padding">
      
       <!-- 
        <ion-list> 
        <ion-item>Learn ionic</ion-item>
        <ion-item>Documentacion</ion-item>
        <ion-item>Show case</ion-item>
        <ion-item>GitHub Repo</ion-item>
        <ion-item>Close</ion-item>
      </ion-list>-->
      <ion-list  class="ModalContent">
        <ion-list-header>Ionic</ion-list-header>
        <ion-item button expand="block" slot="end">Learn Ionic</ion-item>
        <ion-item button expand="block" slot="end">Documentation</ion-item>
        <ion-item button expand="block" slot="end">Showcase</ion-item>
        <ion-item button expand="block" slot="end">GitHub Repo</ion-item>
        <ion-item lines="none" detail="false" button onClick="dismissPopover()">Close</ion-item>
      </ion-list>
    </ion-content>
</p>
